.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1.5rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.markAllReadButton {
  background-color: transparent;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease, border-color 0.3s ease, color 0.3s ease;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.markAllReadButton:hover {
  background-color: var(--hover-overlay);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  transition: color 0.3s ease;
}

.content {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0px;
  }

  .markAllReadButton{
    font-size: 10px;
  }
}